<div class="overflow-dark text-dark">
    <p>
        <a class="btn btn-outline-dark mt-2" href="#/">Back to Search</a>
    </p>

    <h3>Forecast for {{ city }}</h3>
    <hr />
    <div class="container card text-light">
        <div class="row">
            <div class="col-md-auto">
                Days: <a href="#/forecast/1" ng-class="{ 'bg-primary': days === '1' }">1</a> | <a href="#/forecast/2" ng-class="{ 'bg-primary': days === '2' }">2</a> | <a href="#/forecast/3" ng-class="{ 'bg-primary': days === '3' }">3</a>
            </div>
            <div class="col">
                <div class="btn-group">
                    <label ng-class="tempUnit.classF()" ng-disabled="tempUnit.getF()" ng-click="tempUnit.setF()">℉</label>
                    <label ng-class="tempUnit.classC()" ng-disabled="tempUnit.getC()" ng-click="tempUnit.setC()">℃</label>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div ng-repeat="w in weatherResult.forecast.forecastday">
        <div class="row card text-light">
            <div class="col-md-12">
                <weather-result forecast-object="w" convert-to-date="convertToDate(dt)" date-format="MMM, d, y" unit="tempUnit" fc-obj-id="{{dayId.value = $index}}"></weather-result>
            </div>
        </div>
        <br>
    </div>
    Powered by <a class="text-dark" href="https://www.weatherapi.com/" title="Free Weather API">WeatherAPI.com</a>
    <div class="d-none d-md-block" style="height:130px"></div>
</div>
<custom-footer></custom-footer>